.r4r-boundary {
    height: 100%;
    width: 100%;

}

.r4r-boundary.r4r-DEFAULT {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(226, 226, 226);
}

.boundary__inner.r4r-DEFAULT {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 15px 15px -12px rgba(0,0,0,0.3);
    padding: 15px;
}

.r4r-boundary.r4r-DEFAULT p {
    margin: 10px;
}