.results__count-container.r4r-DEFAULT {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.results__count-container h2:first-child::after {
    content: '|';
    margin: 0 10px;
}

.results__selected-filters.r4r-DEFAULT {
    margin: 20px 0;
    display: flex;
}

.selected-filters__header.r4r-DEFAULT {
    width: 150px;
}

.selected-filters__filters-container.r4r-DEFAULT {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.selected-filters__filter.r4r-DEFAULT {
    color: white;
    background: #169bd5;
    padding: 7px;
    margin: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.selected-filters__filter.r4r-DEFAULT p {
    font-size: .9em;
    font-weight: bold;
}

.selected-filters__filter.r4r-DEFAULT p span {
    font-weight: normal;
}

.dummy-flex-search-container.r4r-DEFAULT {
    display: flex;
}

.results__facets.r4r-DEFAULT {
    width: 320px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.facet__box.r4r-DEFAULT {
    width: 95%;
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.facet__title.r4r-DEFAULT {
    background: rgba(0,0,0,0.1);
    padding: 10px;
}

.facet__box.r4r-DEFAULT .facet__filter.r4r-DEFAULT {
    padding: 8px 10px;
    width: 100%;
}

.facet__filter.r4r-DEFAULT {
    cursor: pointer;
}

.facet__filter.r4r-DEFAULT .filter__checkbox.r4r-DEFAULT {
    margin-right: 10px;
}

/* Tooltypes aren't really a checkbox, we disguise that with styling */

.facet__box.facet__box--tool-types .filter__checkbox{
    display: none;
}

.facet__box.facet__box--tool-types .filter__label.r4r-DEFAULT {
    color: #169bd5;
}

.facet__box.facet__box--tool-types .filter__label.r4r-DEFAULT:hover {
    text-decoration: underline;
}

.facet__box.facet__box--tool-types .filter__label.r4r-DEFAULT:active {
    color: #0e5f82;
}

.results-container.r4r-DEFAULT {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.results-container.r4r-DEFAULT .result-tile.r4r-DEFAULT {
    margin: 10px 40px;
}

.result-tile.r4r-DEFAULT {
    padding: 10px;
    background: #fafafa;
    box-shadow: 0 0 1px rgba(0,0,0,0.2), 0 15px 15px -15px rgba(0,0,0,0.4);
}

.result-tile.r4r-DEFAULT p {
    line-height: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}