.r4r-results .results__selected-filters.r4r-DEFAULT {
    margin: 30px 0;
    display: flex;
}

.selected-filters__header.r4r-DEFAULT {
    width: 150px;
}

.selected-filters__filters-container.r4r-DEFAULT {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.selected-filters__filter.r4r-DEFAULT {
    color: white;
    background: #2a71a5;
    padding: 7px 12px;
    margin: 5px 10px;
    cursor: pointer;
}

.selected-filters__filter.selected-filters__clear.r4r-DEFAULT {
    background: none;
    color: #169bd5;
}

.selected-filters__filter.r4r-DEFAULT p {
    font-weight: bold;
}

.selected-filters__filter.r4r-DEFAULT p span {
    font-weight: normal;
}

.results__main.r4r-DEFAULT {
    display: flex;
    border-top: 1px solid #7d7d7d;
    padding-top: 40px;
    border-bottom: 1px solid #7d7d7d;
}

.results__facets.r4r-DEFAULT {
    width: 320px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.facet__box.r4r-DEFAULT {
    width: 95%;
    margin-bottom: 20px;
    border-radius: 0 0 3px 3px;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0 4px 9px -1px rgba(0,0,0,0.3);
}

.facet__title.r4r-DEFAULT {
    background: #2a71a5;
    color: white;
    padding: 10px;
    border-radius: 3px 3px 0 0;
}

.facet__box.r4r-DEFAULT .facet__filter.r4r-DEFAULT {
    padding: 8px 10px;
    width: 100%;
}

.facet__filter.r4r-DEFAULT {
    cursor: pointer;
}

.facet__filter.r4r-DEFAULT .filter__checkbox.r4r-DEFAULT {
    margin-right: 10px;
}

/* Tooltypes aren't really a checkbox, we disguise that with styling */

.facet__box.facet__box--tool-types .filter__checkbox{
    display: none;
}

.facet__box.facet__box--tool-types .filter__label.r4r-DEFAULT {
    color: #169bd5;
}

.facet__box.facet__box--tool-types .filter__label.r4r-DEFAULT:hover {
    text-decoration: underline;
}

.facet__box.facet__box--tool-types .filter__label.r4r-DEFAULT:active {
    color: #0e5f82;
}

.results-container.r4r-DEFAULT {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.results-container.r4r-DEFAULT .result-tile.r4r-DEFAULT {
    margin: 0 40px 40px 40px;
}

.result-tile.r4r-DEFAULT {

}

.r4r-results .searchbar__container {
    margin: 30px 0;
}