.browse__tile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #169bd5;
    color: white;
    width: 150px;
    height: 100px;
    user-select: none;
    cursor: pointer;

    box-shadow: 0 15px 5px -12px rgba(0,0,0,0.2);
}

.browse__tile:hover {
    box-shadow: 0 18px 15px -15px rgba(0,0,0,0.2);
}

.browse__tile:active {
    box-shadow: 0 10px 5px -8px rgba(0,0,0,0.2);
}