

.browse-tiles__container.r4r-DEFAULT .browse__tile.r4r-DEFAULT {
    margin: 5px 0;
}

.browse-tiles__container.r4r-DEFAULT .r4r-cts-spinner {
    display: block;
    margin: 80px;
    width: auto;
}