
.filter__label.r4r-DEFAULT {
    display: flex;
}

.facet__filter.r4r-DEFAULT .filter__label::before {
    display: block;
    content: '';
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border: 2px solid #186d89;
    color: #186d89;
}

input.filter__checkbox:checked + .filter__label.r4r-DEFAULT::before {
    content: '✓';
    font-size: 1.1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter__checkbox.r4r-DEFAULT {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
