.r4r-error.r4r-DEFAULT {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: linear-gradient(304deg, #ec0000, #6407e0);
    background-size: 400% 400%;
    
    animation: AnimationName 5s ease infinite;
}

.r4r-error.r4r-DEFAULT h1, .r4r-error.r4r-DEFAULT h3 {
    color: white;
}

.r4r-error.r4r-DEFAULT h3 {
    margin: 15px 0;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@keyframes AnimationName { 
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}