.selected-filters__header.r4r-DEFAULT {
    min-width: 120px;
    font-size: 16px;
    align-self: flex-start;
    margin: 6px 0;
}

.selected-filters__filters-container.r4r-DEFAULT {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.selected-filters__filter.r4r-DEFAULT {
    color: white;
    background: #2a71a5;
    font-size: 12px;
    padding: 1px 7px;
    margin: 3px 5px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.selected-filters__filter.selected-filters__clear.r4r-DEFAULT {
    background: none;
    color: #169bd5;
    font-size: 16px;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.selected-filters__filter.r4r-DEFAULT > p:nth-child(2) {
    width: 10px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
}