
.filter__label.r4r-DEFAULT {
    display: flex;
}

.checkbox__outline {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border: 2px solid #186d89;
    color: #186d89;
}

.checkbox__outline .checkbox__checkmark {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -1px;
    left: -1px;
}

.filter__checkbox.r4r-DEFAULT {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.filter__close {
    display: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: #169bd5;
}

.filter__label .filter__close {
    margin: 0 10px;
}