.resource__back {
    color: #169bd5;
    cursor: pointer;
}

.resource__back:hover {
    text-decoration: underline;
}

.r4r-resource .resource__docs {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: .9em;
}

.similar-resource__container {
    display: flex;
}

.similar-resource__tile {
    color: white;
    background: #169bd5;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}