.resource__back {
    color: #169bd5;
    cursor: pointer;
}

.resource__back:hover {
    text-decoration: underline;
}

.r4r-resource .resource__docs {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: .9em;
}

.similar-resource__container {
    display: flex;
}

.similar-resource__tile {
    color: white;
    background: #169bd5;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    user-select: none;
    cursor: pointer;

    box-shadow: 0 15px 5px -12px rgba(0,0,0,0.2);
    transition: box-shadow 125ms linear;

}

.similar-resource__tile:hover {
    box-shadow: 0 18px 15px -15px rgba(0,0,0,0.2);
}

.similar-resource__tile:active {
    box-shadow: 0 10px 5px -8px rgba(0,0,0,0.2);
}