.r4r-home.r4r-DEFAULT .r4r__link--about.r4r-DEFAULT {
    margin: 0;
    margin-left: auto;
}

.r4r-home .home__main {
    margin-bottom: 25px;
}

.home-nav__tile .searchbar__container {
    width: 100%;
    margin-bottom: 0;
}

.home__view-all.r4r-DEFAULT {
    display: flex;
}

.home__view-all.r4r-DEFAULT h2 {
    cursor: pointer;
    color: #169bd5;
}

.home-nav__tiles.r4r-DEFAULT {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.home-nav__tile.r4r-DEFAULT {
    width: 48%;
    display: flex;
    padding: 15px 0;
}

.home-nav__tile.r4r-DEFAULT > * {
    flex: 1;
}

.home-nav__tile.r4r-DEFAULT h2 {
    font-weight: 400;
}

.home-tile__icon.r4r-DEFAULT {
    width: 80px;
    margin-right: 20px;
    flex: inherit;
    stroke: #620788;
    fill: #620788;
}

.home-tile__text {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home-tile__text h2 {
    margin-top: 0;
}

.home-nav__main.r4r-DEFAULT {
    display: flex;
    justify-content: space-between;
}

.home-nav__section {
    width: 48%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 9px -1px rgba(0,0,0,0.3);
}

.home-nav__title.r4r-DEFAULT {
    background: #2a71a5;
    color: white;
    padding: 8px 15px;
    border-radius: 5px 5px 0 0;
}

.home-nav__section.r4r-DEFAULT .browse-tiles__container {
    margin: 15px 0;
}

@media only screen and (max-width: 768px){

    .home-nav__tile.r4r-DEFAULT {
        width: 100%;
    }

    .home-nav__tile.r4r-DEFAULT:nth-of-type(odd){
        border-top: 1px solid #777;
        padding-top: 25px;
    }

    .home-nav__tile.r4r-DEFAULT:nth-of-type(even){
        padding: 0;
        margin-bottom: 25px;
    }

    .r4r-home .home__main {
        flex-direction: column;

    }
    
    .r4r-home .searchbar__container{
        margin: 0 auto;
    }

    .home-nav__tiles.r4r-DEFAULT {
        margin: 0;
    }
    
    .home-nav__main{
        flex-direction: column;
    }
    .home-nav__section{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 640px){
    .home-tile__icon.r4r-DEFAULT{
        width: 50px;
    }
}