.r4r__link--about.r4r-DEFAULT {
    display: block;
    margin: 5px;
}

.r4r-home.r4r-DEFAULT .r4r__link--about.r4r-DEFAULT {
    margin: 20px 0;
    margin-left: auto;
}

.home__main {
    display: flex;
}

.home__main .home__search, .home__main .home__desc {
    flex: 1;
}

.home__search .searchbar__container {
    width: 100%;
}

.r4r__view-all.r4r-DEFAULT {
    display: flex;
}

.r4r__view-all.r4r-DEFAULT {
    cursor: pointer;
    color: #169bd5;
}

.home-nav.r4r-DEFAULT {
    /* width: 95%;
    margin: 0 auto; */
}

.home-nav__header.r4r-DEFAULT {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.home-nav__main.r4r-DEFAULT {
    display: flex;
    justify-content: space-between;
}

.home-nav__section {
    width: 48%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 9px -1px rgba(0,0,0,0.3);
}

.home-nav__title.r4r-DEFAULT {
    background: #2a71a5;
    color: white;
    padding: 8px 15px;
    border-radius: 5px 5px 0 0;
}

.home-nav__section.r4r-DEFAULT .browse-tiles__container {
    margin: 15px 0;
}

@media only screen and (max-width: 768px){

    .r4r-home .home__main {
        flex-direction: column;
        /* margin: 0 auto;
        width: 95%; */
    }
    
    .r4r-home .searchbar__container{
        flex-direction: column;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .r4r-home .searchbar__container > input {
        margin: 0;
        width: 100%;
    }

    .r4r-container .r4r-home input[type="submit"]{
        margin-left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 640px){
    .home-nav__header {
        flex-direction: column;
    }
    
    .home-nav__main{
        flex-direction: column;
    }
    .home-nav__section{
        width: 100%;
        margin-bottom: 20px;
    }
}